global-reset()
reset-html5()

html
  font-size 100%

body
  {FONT_REGULAR}
  line-height 1
  rem-size()
  a
    text-decoration none
    color inherit
  ul,li
    list-style none
    padding 0
    margin 0

  button, a
    cursor pointer
    outline 0
    transition all 0.3s

  b, strong
    {FONT_BOLD}

  i
    font-style italic

.container
  position relative
  width 1024px
  margin-right auto
  margin-left auto
